html,body{
	margin: 0;
	padding: 0;
	background-color: #bc4143;
}
.ferriswheel{
	 position: relative;/* relative就是元素的坐标系 */ 
	margin: 0 auto;
	width: 768px;
	height: 768px;
	background-image:url('./img/fsw.png');
	animation: changeDeg 8s linear infinite;
}
.pic1,.pic2,.pic3{
	position: absolute;
	width: 130px;
	height: 170px;
	animation: changeDeg2 8s linear infinite;
}
.pic1{
	top: 100px;
	left: 30px;
	background-image: url('./img/boy.png');
}
.pic2{
	top: 650px;
	left: 330px;
	background-image: url('./img/girl.png');
}
.pic3{
	top: 100px;
	left: 580px;
	background-image: url('./img/shamegirl.png');
}
@keyframes changeDeg{
		from{
			transform:rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}
@keyframes changeDeg2{
	from{
		transform:rotate(-0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}