html,body{
	margin: 0;
	padding: 0;
	
}
#banner{
	width:100%;
	height: 500px;
	background: #3399ff;
}
.nav{
	width: 200px;
	height:100%;
	margin-left: 75px;
	background: rgba(0,0,0,.4);
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
li{
	width:100%;
	height:31.25px;
	line-height: 31.25px;
	color:#fff;
	font-size:12px;
}
i{
	color:#8c8c8c;
	margin:0 4px 0 14px;
}
li:hover{/*伪类，鼠标悬停时背景色改变*/
	background:white;
	color:red;
}
li:hover i{
	color:red;

}